.container {
    width: 100%
}
@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
.pointer-events-none {
    pointer-events: none
}
.pointer-events-auto {
    pointer-events: auto
}
.visible {
    visibility: visible
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}
.inset-y-0 {
    top: 0px;
    bottom: 0px
}
.top-0 {
    top: 0px
}
.right-0 {
    right: 0px
}
.left-0 {
    left: 0px
}
.bottom-0 {
    bottom: 0px
}
.top-full {
    top: 100%
}
.z-0 {
    z-index: 0
}
.z-50 {
    z-index: 50
}
.z-20 {
    z-index: 20
}
.z-40 {
    z-index: 40
}
.z-10 {
    z-index: 10
}
.col-span-2 {
    grid-column: span 2 / span 2
}
.col-span-3 {
    grid-column: span 3 / span 3
}
.col-span-4 {
    grid-column: span 4 / span 4
}
.col-span-5 {
    grid-column: span 5 / span 5
}
.col-span-6 {
    grid-column: span 6 / span 6
}
.col-span-7 {
    grid-column: span 7 / span 7
}
.col-span-8 {
    grid-column: span 8 / span 8
}
.col-span-9 {
    grid-column: span 9 / span 9
}
.col-span-10 {
    grid-column: span 10 / span 10
}
.col-span-11 {
    grid-column: span 11 / span 11
}
.col-span-12 {
    grid-column: span 12 / span 12
}
.col-span-full {
    grid-column: 1 / -1
}
.col-span-1 {
    grid-column: span 1 / span 1
}
.float-left {
    float: left
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}
.-mx-3 {
    margin-left: -0.75rem;
    margin-right: -0.75rem
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto
}
.ml-3 {
    margin-left: 0.75rem
}
.-ml-px {
    margin-left: -1px
}
.mr-4 {
    margin-right: 1rem
}
.mb-0 {
    margin-bottom: 0px
}
.mb-2 {
    margin-bottom: 0.5rem
}
.ml-1 {
    margin-left: 0.25rem
}
.mt-2 {
    margin-top: 0.5rem
}
.mr-2 {
    margin-right: 0.5rem
}
.ml-2 {
    margin-left: 0.5rem
}
.mt-4 {
    margin-top: 1rem
}
.ml-4 {
    margin-left: 1rem
}
.mt-8 {
    margin-top: 2rem
}
.ml-12 {
    margin-left: 3rem
}
.-mt-px {
    margin-top: -1px
}
.mt-1 {
    margin-top: 0.25rem
}
.mt-6 {
    margin-top: 1.5rem
}
.mb-5 {
    margin-bottom: 1.25rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mr-3 {
    margin-right: 0.75rem
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-6 {
    margin-bottom: 1.5rem
}
.-ml-1 {
    margin-left: -0.25rem
}
.ml-auto {
    margin-left: auto
}
.-mr-6 {
    margin-right: -1.5rem
}
.block {
    display: block
}
.inline-block {
    display: inline-block
}
.flex {
    display: flex
}
.inline-flex {
    display: inline-flex
}
.grid {
    display: grid
}
.hidden {
    display: none
}
.h-5 {
    height: 1.25rem
}
.h-auto {
    height: auto
}
.h-8 {
    height: 2rem
}
.h-16 {
    height: 4rem
}
.h-0 {
    height: 0px
}
.h-full {
    height: 100%
}
.h-6 {
    height: 1.5rem
}
.h-\[4rem\] {
    height: 4rem
}
.h-10 {
    height: 2.5rem
}
.h-3 {
    height: 0.75rem
}
.h-12 {
    height: 3rem
}
.h-screen {
    height: 100vh
}
.min-h-screen {
    min-height: 100vh
}
.w-5 {
    width: 1.25rem
}
.w-full {
    width: 100%
}
.w-8 {
    width: 2rem
}
.w-auto {
    width: auto
}
.w-0 {
    width: 0px
}
.w-6 {
    width: 1.5rem
}
.w-screen {
    width: 100vw
}
.w-10 {
    width: 2.5rem
}
.w-3 {
    width: 0.75rem
}
.w-24 {
    width: 6rem
}
.w-16 {
    width: 4rem
}
.w-80 {
    width: 20rem
}
.w-52 {
    width: 13rem
}
.max-w-full {
    max-width: 100%
}
.max-w-xl {
    max-width: 36rem
}
.max-w-6xl {
    max-width: 72rem
}
.max-w-2xl {
    max-width: 42rem
}
.max-w-3xl {
    max-width: 48rem
}
.max-w-4xl {
    max-width: 56rem
}
.max-w-5xl {
    max-width: 64rem
}
.max-w-7xl {
    max-width: 80rem
}
.max-w-xs {
    max-width: 20rem
}
.max-w-sm {
    max-width: 24rem
}
.max-w-md {
    max-width: 28rem
}
.max-w-lg {
    max-width: 32rem
}
.flex-1 {
    flex: 1 1 0%
}
.flex-shrink-0 {
    flex-shrink: 0
}
.shrink-0 {
    flex-shrink: 0
}
.flex-grow {
    flex-grow: 1
}
.translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-x-full {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-8 {
    --tw-translate-y: 2rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-y-1 {
    --tw-translate-y: -0.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-rotate-180 {
    --tw-rotate: -180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-skew-x-12 {
    --tw-skew-x: -12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-default {
    cursor: default
}
.cursor-pointer {
    cursor: pointer
}
.list-none {
    list-style-type: none
}
.appearance-none {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
.flex-row {
    flex-direction: row
}
.flex-row-reverse {
    flex-direction: row-reverse
}
.flex-col {
    flex-direction: column
}
.flex-wrap {
    flex-wrap: wrap
}
.items-start {
    align-items: flex-start
}
.items-end {
    align-items: flex-end
}
.items-center {
    align-items: center
}
.items-stretch {
    align-items: stretch
}
.justify-start {
    justify-content: flex-start
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.gap-4 {
    gap: 1rem
}
.gap-3 {
    gap: 0.75rem
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}
.space-x-reverse > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1
}
.overflow-hidden {
    overflow: hidden
}
.overflow-y-auto {
    overflow-y: auto
}
.overflow-x-hidden {
    overflow-x: hidden
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.whitespace-normal {
    white-space: normal
}
.whitespace-nowrap {
    white-space: nowrap
}
.rounded-md {
    border-radius: 0.375rem
}
.rounded {
    border-radius: 0.25rem
}
.rounded-lg {
    border-radius: 0.5rem
}
.rounded-full {
    border-radius: 9999px
}
.rounded-xl {
    border-radius: 0.75rem
}
.rounded-l-md {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem
}
.rounded-r-md {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem
}
.border {
    border-width: 1px
}
.border-t {
    border-top-width: 1px
}
.border-r {
    border-right-width: 1px
}
.border-b-0 {
    border-bottom-width: 0px
}
.border-b {
    border-bottom-width: 1px
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
}
.border-transparent {
    border-color: transparent
}
.border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity))
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity))
}
.border-gray-400 {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity))
}
.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity))
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}
.bg-transparent {
    background-color: transparent
}
.bg-yellow-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity))
}
.bg-red-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28 / var(--tw-bg-opacity))
}
.bg-gray-900\/50 {
    background-color: rgb(17 24 39 / 0.5)
}
.bg-black\/50 {
    background-color: rgb(0 0 0 / 0.5)
}
.bg-white\/50 {
    background-color: rgb(255 255 255 / 0.5)
}
.bg-white\/20 {
    background-color: rgb(255 255 255 / 0.2)
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}
.bg-cover {
    background-size: cover
}
.bg-center {
    background-position: center
}
.fill-current {
    fill: currentColor
}
.p-6 {
    padding: 1.5rem
}
.p-2 {
    padding: 0.5rem
}
.p-3 {
    padding: 0.75rem
}
.p-4 {
    padding: 1rem
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem
}
.py-0 {
    padding-top: 0px;
    padding-bottom: 0px
}
.pr-4 {
    padding-right: 1rem
}
.pl-4 {
    padding-left: 1rem
}
.pt-1 {
    padding-top: 0.25rem
}
.pb-1 {
    padding-bottom: 0.25rem
}
.pl-0 {
    padding-left: 0px
}
.pt-8 {
    padding-top: 2rem
}
.text-center {
    text-align: center
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}
.font-medium {
    font-weight: 500
}
.font-semibold {
    font-weight: 600
}
.font-bold {
    font-weight: 700
}
.uppercase {
    text-transform: uppercase
}
.leading-5 {
    line-height: 1.25rem
}
.leading-normal {
    line-height: 1.5
}
.leading-7 {
    line-height: 1.75rem
}
.leading-6 {
    line-height: 1.5rem
}
.tracking-wider {
    letter-spacing: 0.05em
}
.tracking-tight {
    letter-spacing: -0.025em
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity))
}
.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity))
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
}
.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}
.text-inherit {
    color: inherit
}
.text-amber-400 {
    --tw-text-opacity: 1;
    color: rgb(251 191 36 / var(--tw-text-opacity))
}
.underline {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline
}
.no-underline {
    -webkit-text-decoration-line: none;
            text-decoration-line: none
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.opacity-0 {
    opacity: 0
}
.opacity-100 {
    opacity: 1
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
.ring-gray-300 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity))
}
.ring-gray-200 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(229 231 235 / var(--tw-ring-opacity))
}
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.backdrop-blur-xl {
    --tw-backdrop-blur: blur(24px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.backdrop-saturate-150 {
    --tw-backdrop-saturate: saturate(1.5);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.transition {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.delay-100 {
    transition-delay: 100ms
}
.duration-150 {
    transition-duration: 150ms
}
.duration-300 {
    transition-duration: 300ms
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.hover\:bg-gray-500\/5:hover {
    background-color: rgb(107 114 128 / 0.05)
}
.hover\:text-gray-500:hover {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.hover\:text-gray-400:hover {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}
.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.focus\:z-10:focus {
    z-index: 10
}
.focus\:border-blue-300:focus {
    --tw-border-opacity: 1;
    border-color: rgb(147 197 253 / var(--tw-border-opacity))
}
.focus\:bg-gray-500\/5:focus {
    background-color: rgb(107 114 128 / 0.05)
}
.focus\:text-white:focus {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.focus\:underline:focus {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.focus\:ring:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
.active\:bg-gray-100:active {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}
.active\:text-gray-700:active {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.active\:text-gray-500:active {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.group:hover .group-hover\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.group:focus .group-focus\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
[dir="rtl"] .rtl\:right-auto {
    right: auto
}
[dir="rtl"] .rtl\:left-0 {
    left: 0px
}
[dir="rtl"] .rtl\:left-auto {
    left: auto
}
[dir="rtl"] .rtl\:right-0 {
    right: 0px
}
[dir="rtl"] .rtl\:ml-2 {
    margin-left: 0.5rem
}
[dir="rtl"] .rtl\:-mr-1 {
    margin-right: -0.25rem
}
[dir="rtl"] .rtl\:-ml-6 {
    margin-left: -1.5rem
}
[dir="rtl"] .rtl\:ml-0 {
    margin-left: 0px
}
[dir="rtl"] .rtl\:mr-auto {
    margin-right: auto
}
[dir="rtl"] .rtl\:translate-x-full {
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
[dir="rtl"] .rtl\:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1
}
@media (prefers-color-scheme: dark) {
    .dark\:border-gray-600 {
        --tw-border-opacity: 1;
        border-color: rgb(75 85 99 / var(--tw-border-opacity))
    }
    .dark\:border-gray-700 {
        --tw-border-opacity: 1;
        border-color: rgb(55 65 81 / var(--tw-border-opacity))
    }
    .dark\:border-gray-500 {
        --tw-border-opacity: 1;
        border-color: rgb(107 114 128 / var(--tw-border-opacity))
    }
    .dark\:bg-gray-900 {
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity))
    }
    .dark\:bg-gray-800 {
        --tw-bg-opacity: 1;
        background-color: rgb(31 41 55 / var(--tw-bg-opacity))
    }
    .dark\:bg-gray-900\/50 {
        background-color: rgb(17 24 39 / 0.5)
    }
    .dark\:bg-gray-700 {
        --tw-bg-opacity: 1;
        background-color: rgb(55 65 81 / var(--tw-bg-opacity))
    }
    .dark\:fill-current {
        fill: currentColor
    }
    .dark\:text-gray-300 {
        --tw-text-opacity: 1;
        color: rgb(209 213 219 / var(--tw-text-opacity))
    }
    .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity))
    }
    .dark\:text-gray-400 {
        --tw-text-opacity: 1;
        color: rgb(156 163 175 / var(--tw-text-opacity))
    }
    .dark\:text-gray-100 {
        --tw-text-opacity: 1;
        color: rgb(243 244 246 / var(--tw-text-opacity))
    }
    .dark\:text-gray-200 {
        --tw-text-opacity: 1;
        color: rgb(229 231 235 / var(--tw-text-opacity))
    }
    .dark\:ring-gray-600 {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(75 85 99 / var(--tw-ring-opacity))
    }
    .dark\:hover\:bg-gray-700:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(55 65 81 / var(--tw-bg-opacity))
    }
}
@media (min-width: 640px) {
    .sm\:flex {
        display: flex
    }
    .sm\:hidden {
        display: none
    }
    .sm\:w-80 {
        width: 20rem
    }
    .sm\:flex-1 {
        flex: 1 1 0%
    }
    .sm\:items-center {
        align-items: center
    }
    .sm\:justify-start {
        justify-content: flex-start
    }
    .sm\:justify-between {
        justify-content: space-between
    }
    .sm\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px * var(--tw-space-y-reverse))
    }
    .sm\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1rem * var(--tw-space-x-reverse));
        margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
    }
    .sm\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .sm\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
    .sm\:pt-0 {
        padding-top: 0px
    }
    .sm\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
    [dir="rtl"] .sm\:rtl\:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 1
    }
}
@media (min-width: 768px) {
    .md\:mb-0 {
        margin-bottom: 0px
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:flex-grow {
        flex-grow: 1
    }
    .md\:flex-grow-0 {
        flex-grow: 0
    }
    .md\:flex-row {
        flex-direction: row
    }
    .md\:items-center {
        align-items: center
    }
    .md\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .md\:py-1 {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem
    }
    .md\:text-left {
        text-align: left
    }
    .md\:text-right {
        text-align: right
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}
@media (min-width: 1024px) {
    .lg\:z-0 {
        z-index: 0
    }
    .lg\:mb-0 {
        margin-bottom: 0px
    }
    .lg\:mr-4 {
        margin-right: 1rem
    }
    .lg\:flex {
        display: flex
    }
    .lg\:hidden {
        display: none
    }
    .lg\:max-w-\[20em\] {
        max-width: 20em
    }
    .lg\:max-w-\[5\.4em\] {
        max-width: 5.4em
    }
    .lg\:translate-x-0 {
        --tw-translate-x: 0px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .lg\:gap-8 {
        gap: 2rem
    }
    .lg\:border-r {
        border-right-width: 1px
    }
    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }
    .lg\:pl-80 {
        padding-left: 20rem
    }
    .lg\:pl-\[5\.4rem\] {
        padding-left: 5.4rem
    }
    .lg\:transition {
        transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms
    }
    [dir="rtl"] .rtl\:lg\:mr-0 {
        margin-right: 0px
    }
    [dir="rtl"] .rtl\:lg\:ml-4 {
        margin-left: 1rem
    }
    [dir="rtl"] .rtl\:lg\:-translate-x-0 {
        --tw-translate-x: -0px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    [dir="rtl"] .rtl\:lg\:pl-0 {
        padding-left: 0px
    }
    [dir="rtl"] .rtl\:lg\:pr-80 {
        padding-right: 20rem
    }
    [dir="rtl"] .rtl\:lg\:pr-\[5\.4rem\] {
        padding-right: 5.4rem
    }
}
@media (min-width: 1280px) {
    .xl\:flex-row {
        flex-direction: row
    }
    .xl\:items-center {
        align-items: center
    }
    .xl\:justify-between {
        justify-content: space-between
    }
}
